﻿@{
    ViewBag.Title = "Home";
}

@section scripts
{
    <script>
        var vm = require('Home.IndexViewModel');
        ko.applyBindings(new vm());
    </script>
}
<div class="row" data-bind="with: dispatchJobSummary">
    <span class="label label-warning"><span data-bind="text: pending"></span> Pending</span>&nbsp;
    <span class="label label-danger"><span data-bind="text: readyForDispatch"></span> Ready </span>&nbsp;
    <span class="label label-success"><span data-bind="text: dispatched"></span> Dispatched </span>
</div>
<br />
<br />
<div class="row">
    <button data-bind="click: dispatchNext100Jobs" class="btn btn-info">Dispatch next 100 jobs</button>&nbsp;
    <button data-bind="click: dispatchNext1000Jobs" class="btn btn-primary">Dispatch next 1,000 jobs</button>&nbsp;
    <button data-bind="click: dispatchAllTheJobs" class="btn btn-danger">Dispatch all the jobs!</button>
</div>

