﻿@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <form action="@Url.Action("ConfirmJob")" method="POST">
        <input type="hidden" name="cnt" value="1" />
        <input type="submit" class="btn btn-lg btn-primary" value="Confirm A Job" />
    </form>
    
    <form action="@Url.Action("ConfirmJob")" method="POST">
        <input type="hidden" name="cnt" value="100" />
        <input type="submit" class="btn btn-lg btn-primary" value="Confirm 100 Jobs" />
    </form>

    <form action="@Url.Action("ConfirmJob")" method="POST">
        <input type="hidden" name="cnt" value="1000" />
        <input type="submit" class="btn btn-lg btn-primary" value="Confirm 1,000 Jobs, Ha Ha Ha" />
    </form>

    <form action="@Url.Action("ConfirmJob")" method="POST">
        <input type="hidden" name="cnt" value="10000" />
        <input type="submit" class="btn btn-lg btn-primary" value="Confirm 10,000 Jobs, Mwhaaaaaa ha ha" />
    </form>

</div>